.slide-3 {
    background-color: #feebc1;
    .item-block1 {
        top: 25px;
        width: 288px;
        height: 465px;
        left: 16px;
        background: url(http://static.leanote.top/x-resource/dzs/images/3/1.jpg) no-repeat;
        background-size: 288px 100%;
        background-position: 0 top;

        .item-btn1 {
            position: absolute;
            top: 7px;
            right: 8px;
            width: 62px;
            height: 26px;
        }
    }

    .p-item {
        display: block;
        color: red;
        text-align: center;
        line-height: 23px;
    }
    .item-tip1 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 131px;
        top: 35px;
        outline: 0px solid red;
        background-color: #e8781c;
    }
    .p-item-tip1 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 131px;
        top: 35px;
        outline: 0px solid red;
        background-color: #e8781c;
    }
    .p-item-tip2 {
         position: absolute;
         width: 20px;
         height: 20px;
         border-radius: 13px;
         left: 131px;
         top: 65px;
         outline: 0px solid red;
         background-color: #000000;
     }
    .p-item-tip3 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        left: 40px;
        top: 65px;
        outline: 0px solid green;
        background-color: #000000;
    }

    .p-item-tip4 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 26px;
        top: 72px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip5 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 19px;
        top: 85px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip6 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 19px;
        top: 300px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip7 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 26px;
        top: 315px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip8 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 40px;
        top: 322px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip9 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 176px;
        top: 322px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip10 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 187px;
        top: 315px;
        outline: 0px solid red;
        background-color: green;
    }
    .p-item-tip11 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 194px;
        top: 303px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip12 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 194px;
        top: 250px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip13 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 131px;
        top: 96px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip14 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 131px;
        top: 250px;
        outline: 0px solid red;
        background-color: #000000;
    }

    .p-item-tip15 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 106px;
        top: 271px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip16 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 78px;
        top: 250px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip17 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 78px;
        top: 210px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip18 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 144px;
        top: 110px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip19 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 160px;
        top: 118px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip20 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 240px;
        top: 118px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip21 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 250px;
        top: 125px;
        outline: 0px solid red;
        background-color: blue;
    }
    .p-item-tip22 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 253px;
        top: 135px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip23 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 253px;
        top: 400px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip24 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 248px;
        top: 408px;
        outline: 0px solid red;
        background-color: chartreuse;
    }
    .p-item-tip25 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 240px;
        top: 413px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip26 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 40px;
        top: 413px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip27 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 26px;
        top: 410px;
        outline: 0px solid red;
        background-color: blue;
    }
    .p-item-tip28 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 19px;
        top: 400px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip29 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 19px;
        top: 376px;
        outline: 0px solid red;
        background-color: #000000;
    }

    .p-item-tip30 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 24px;
        top: 364px;
        outline: 0px solid red;
        background-color: white;
    }
    .p-item-tip31 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 40px;
        top: 361px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .p-item-tip32 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        left: 110px;
        top: 361px;
        outline: 0px solid red;
        background-color: #000000;
    }
    .item-tip2 {
        display: none;
        position: absolute;
        width: 256px;
        height: 242px;
        left: 27px;
        top: 140px;
        background: url(http://static.leanote.top/x-resource/dzs/images/3/2.png) no-repeat;
        background-size: 100% 100%;
        z-index: 101;
        .item-close {
            position: absolute;
            width: 30px;
            height: 30px;
            right: 7px;
            top: 5px;
        }
    }

    .item-tip3 {
        display: none;
        position: absolute;
        width: 320px;
        height: 422px;
        background: url(http://static.leanote.top/x-resource/dzs/images/3/3.png) no-repeat;
        background-size: 100% 100%;
        z-index: 102;
        .item-yes {
            position: absolute;
            width: 70px;
            height: 30px;
            left: 80px;
            top: 364px;
        }
        .item-no {
            position: absolute;
            width: 70px;
            height: 30px;
            right: 64px;
            top: 364px;
        }
    }

    .item-tip4 {
        display: none;
        position: absolute;
        left: 32px;
        top: 103px;
        width: 256px;
        height: 299px;
        background: url(http://static.leanote.top/x-resource/dzs/images/3/4.png) no-repeat;
        background-size: 100% 100%;
        z-index: 103;
        .item-yes {
            position: absolute;
            width: 70px;
            height: 30px;
            left: 43px;
            top: 241px;
        }
        .item-no {
            position: absolute;
            width: 70px;
            height: 30px;
            right: 37px;
            top: 241px;
        }
    }

    .item-tip5 {
        display: none;
        position: absolute;
        left: 32px;
        top: 83px;
        width: 257px;
        height: 310px;
        background: url(http://static.leanote.top/x-resource/dzs/images/3/5.png) no-repeat;
        background-size: 100% 100%;
        z-index: 104;
        .item-yes {
            position: absolute;
            width: 70px;
            height: 30px;
            left: 47px;
            top: 252px;
        }
        .item-no {
            position: absolute;
            width: 70px;
            height: 30px;
            right: 36px;
            top: 252px;
        }
    }

    .item-mask {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 100;
    }
}