.slide-1 {
    display: none;
    background: #feebc1;
    .item-block1 {
        top: 10px;
        width: 100%;
        height: 131px;
        left: 0;
        background: url(http://static.leanote.top/x-resource/dzs/images/1/1.png) no-repeat;
        background-size: 288px 100%;
        background-position: 16px top;
        .item-tip1 {
            position: absolute;
            width: 165px;
            height: 72px;
            left: 34%;
            top: 25%;
            background: url(http://static.leanote.top/x-resource/dzs/images/1/2.png) no-repeat;
            background-size: 100% 100%;
        }
    }
    .item-block2 {
        top: 127px;
        width: 100%;
        height: 106px;
        left: 0;
        background: url(http://static.leanote.top/x-resource/dzs/images/1/3.png) no-repeat;
        background-size: 288px 100%;
        background-position: 16px top;
    }
    .item-block3 {
        top: 222px;
        width: 100%;
        height: 105px;
        left: 0;
        background: url(http://static.leanote.top/x-resource/dzs/images/1/4.png) no-repeat;
        background-size: 288px 100%;
        background-position: 16px top;
        .item-tip1 {
            z-index: 2;
            position: absolute;
            width: 151px;
            height: 110px;
            left: 20%;
            top: -78%;
            background: url(http://static.leanote.top/x-resource/dzs/images/1/7.png) no-repeat;
            background-size: 100% 100%;
        }
        .item-tip2 {
            z-index: 1;
            position: absolute;
            width: 288px;
            height: 152px;
            left: 16px;
            bottom: 0;
            background: url(http://static.leanote.top/x-resource/dzs/images/1/5.png) no-repeat;
            background-size: 100% 100%;
        }
        .item-tip3 {
            z-index: 0;
            position: absolute;
            width: 288px;
            height: 98px;
            right: 16px;
            bottom: 0;
            background: url(http://static.leanote.top/x-resource/dzs/images/1/6.png) no-repeat;
            background-size: 226px 100%;
            background-position: right bottom;
        }
    }
    .item-block4 {
        top: 330px;
        width: 186px;
        height: 185px;
        left: 0;
        background: url(http://static.leanote.top/x-resource/dzs/images/1/8.png) no-repeat;
        background-size: 168px 100%;
        background-position: 16px top;
    }

    .item-block5 {
        top: 330px;
        width: 180px;
        height: 185px;
        left: 140px;
        background: url(http://static.leanote.top/x-resource/dzs/images/1/9.png) no-repeat;
        background-size: 164px 100%;
        background-position: 0 top;
        .item-tip1 {
            position: absolute;
            top: 0;
            width: 180px;
            height: 185px;
            left: 0;
            background-image: url(http://static.leanote.top/x-resource/dzs/images/1/14.png);
            background-repeat: no-repeat;
            background-size: 233px 309px;
            background-position: 0 top;

            clip-path: polygon(27% 0, 90% 0, 90% 100%, 0 100%);
        }
        .item-tip2 {
            position: absolute;
            top: 35px;
            width: 61px;
            height: 50px;
            left: 40px;
            background: url(http://static.leanote.top/x-resource/dzs/images/1/15.png) no-repeat;
            background-size: 61px 100%;
            background-position: 0 top;
        }
        .sword-jump {
            animation: sword-jump 2s 1 linear;
        }
        .sword-jump-pause {
            background-position: -50px -105px;
        }
    }
    .jump4-tip {
        animation: jump4 1s infinite linear;
    }

}
.item-block {
    position: absolute;
}

@keyframes sword-jump {
    0% {
        background-position: 0 top;
    }
    20% {
        background-position: -50px -105px;
    }
    40% {
        background-position: -50px -105px;
    }
    60% {
        background-position: -50px -105px;
    }
    80% {
        background-position: -50px -105px;
    }
    100% {
        background-position: -50px -105px;
    }
}

